# --- Server Setup ---
PORT=5000
NODE_ENV=development

# --- Database Connection (CRITICAL) ---
# Format: postgres://username:password@host:port/database_name
DATABASE_URL=postgres://youruser:yourpassword@localhost:5432/gym_tracker_db

# --- Security & Auth (CRITICAL) ---
# this is not used, as we using some library to generate secure JWT
JWT_ACCESS_SECRET=super_long_random_string_for_access_token
JWT_REFRESH_SECRET=super_long_random_string_for_refresh_token
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# --- CORS & Networking ---
FRONTEND_URL=http://localhost:3000
